.flex-parent{
  margin-top: 80px;
}

.favorite{

  width: 50%;
  margin:auto;
  float:left;

}
.all-teams{
width: 50%;
margin:auto;
float: right;
}

.basketball-line{
  position: relative;
  transition: background-color 0.5s, left 0.5s, color 0.5s;
  left:0px;
}
