.App {
  text-align: center;
}

.nav-bar{
  
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
.nav-bar li {
  float: left;
  display: block;
  color: #f2f2f9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav-bar li:hover {
  background: #ddd;
  color: black;
}
.home, .item-contariner {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.video-background{
  background: #000;
position: fixed;
top: 0;
bottom: 0;
right: 0;
left: 0;
z-index: -99;
&::after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0,0.75)
}
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
