.news-search{
  margin-top: 20px;
  position: absolute;
  transition: .2s ease all;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.sports-image{
  height: 300px;
  width: 300px;
  object-fit: cover;
}
